/* see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
body{
	font-family: 'Literata', serif;
    font-size: 16px;
}

.wrap {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.stats {
    margin-top: 15px;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

a, label {
	color: blue;
}

label{
  cursor: pointer;
  text-decoration: underline;
}

label:hover{
  text-decoration: underline;
}

#open-article{
  display:none;
}
