/* see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
body{
	font-family: 'Literata', serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-flow: row wrap; /* we'll wrap */
    width: 35rem;
}

.header, .blog, .footer {
    flex: 1 100%;
    text-align: left;
}

.header {
    text-align: center;
}

.footer {
    padding: 10px;
    text-align: center;
}

.blog {
    padding: 10px;
}

.blog { flex: 3 0px; }
